* {
  padding: 0;
  margin: 0; }

html {
  overflow-x: hidden; }

li {
  list-style-type: none; }

#overlay {
  display: none;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #000;
  opacity: 0.3; }

/*----Template settings------*/
#main_menu_dropdown {
  display: none; }

#shop_stat_icon {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 11vh;
  left: 50vw;
  font-size: 2vw;
  margin-top: 55vh; }

#shop_stat_cont {
  display: none;
  box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.1);
  background: transparent;
  position: absolute;
  left: 15vw;
  width: 70vw;
  height: 48vh;
  margin-top: 17vh; }

#shop_stat_overlay {
  display: none;
  background: #000;
  position: absolute;
  left: 15vw;
  width: 70vw;
  height: 48vh;
  margin-top: 17vh;
  opacity: 0.3; }

#shop_stat_mirror {
  display: none;
  position: absolute;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(66, 66, 66, 0.5));
  left: 15vw;
  width: 70vw;
  height: 48vh;
  margin-top: 17vh;
  opacity: 0.8; }

#header {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -o-border-bottom-right-radius: 100px; }

#cart {
  margin-left: 1vw;
  position: absolute;
  cursor: pointer;
  width: 8vw; }
  #cart > i {
    margin: 1vw;
    margin-left: 0;
    margin-top: 3vh;
    font-size: 20px;
    color: #fff;
    opacity: 0.8; }
  #cart > div:nth-child(2) {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 0.6vw;
    height: 0.6vw;
    background: #A146EE;
    font-size: 12px;
    font-family: "Lobster", cursive;
    padding: 0.5vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3); }
  #cart > div:nth-child(3) {
    letter-spacing: 1px;
    width: 15vw;
    position: absolute;
    color: #fff;
    opacity: 0.8;
    font-family: "Lobster", cursive;
    font-size: 15px;
    top: 3vh;
    left: 3vw;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff; }
  #cart:hover {
    border-bottom: 1px solid #EEEEEE; }

#menu_icon {
  cursor: pointer;
  margin-top: 62vh;
  margin-left: 55vw;
  position: absolute;
  z-index: 5;
  padding: 10px; }
  #menu_icon > div {
    position: absolute;
    margin-top: -3vh;
    width: 35vw;
    display: none; }
    #menu_icon > div > a {
      color: #000;
      font-family: "Raleway";
      font-size: 15px;
      text-decoration: none;
      padding-right: 1vw;
      letter-spacing: 2px; }
      #menu_icon > div > a:hover {
        text-decoration: underline; }
  #menu_icon > i {
    color: #000;
    /* border: 1px solid #fff; */
    font-size: 20px; }
    #menu_icon > i:hover {
      box-shadow: none; }

.inspiration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-style: oblique; }

.item-menu {
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  filter: url("#shadowed-goo"); }
  .item-menu .real-menu {
    display: none;
    transform: translate3d(0, -65px, 0);
    transition: transform ease-out 200ms; }
  .item-menu .menu-item {
    background: #585858;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    transition: transform ease-out 200ms;
    display: inline-block;
    position: relative; }
  .item-menu .menu-open-button {
    background: #585858;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    transition: transform ease-out 200ms;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px; }
  .item-menu .menu-open {
    display: none; }
  .item-menu .plus {
    width: 18px;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -1px;
    transition: transform 200ms; }
    .item-menu .plus.plus-1 {
      transform: rotate(90deg) translate3d(0, 0, 0); }
    .item-menu .plus.plus-2 {
      transform: rotate(0) translate3d(0, 0, 0); }
  .item-menu .menu-item:hover {
    background: white;
    color: #12CC66; }
  .item-menu .menu-item:nth-child(1) {
    transition-duration: 70ms;
    transform: translate3d(171px, 0, 0) scale(0.5); }
  .item-menu .menu-item:nth-child(2) {
    transition-duration: 130ms;
    transform: translate3d(85.5px, 0, 0) scale(0.5); }
  .item-menu .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(0, 0, 0) scale(0.5); }
  .item-menu .menu-item:nth-child(4) {
    transition-duration: 130ms;
    transform: translate3d(-85.5px, 0, 0) scale(0.5); }
  .item-menu .menu-item:nth-child(5) {
    transition-duration: 70ms;
    transform: translate3d(-171px, 0, 0) scale(0.5); }
  .item-menu .menu-item label {
    font-family: "Lobster", cursive;
    content: attr(data-name);
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 40px;
    left: 50%;
    white-space: nowrap;
    transform: translate3d(-50%, 0, 0);
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #fff; }
  .item-menu .menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer; }
    .item-menu .menu-open-button:hover {
      transform: scale(1.2, 1.2) translate3d(0, 0, 0); }
  .item-menu .menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(1, 1) rotate(-45deg) translate3d(0, 0, 0); }
  .item-menu .menu-open:checked ~ .real-menu {
    transform: translate3d(0, 5px, 0); }
    .item-menu .menu-open:checked ~ .real-menu .menu-item {
      transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
      transform: translate3d(0, 0, 0); }
      .item-menu .menu-open:checked ~ .real-menu .menu-item:nth-child(1) {
        transition-duration: 320ms; }
      .item-menu .menu-open:checked ~ .real-menu .menu-item:nth-child(2) {
        transition-duration: 240ms; }
      .item-menu .menu-open:checked ~ .real-menu .menu-item:nth-child(3) {
        transition-duration: 160ms; }
      .item-menu .menu-open:checked ~ .real-menu .menu-item:nth-child(4) {
        transition-duration: 240ms; }
      .item-menu .menu-open:checked ~ .real-menu .menu-item:nth-child(5) {
        transition-duration: 320ms; }
      .item-menu .menu-open:checked ~ .real-menu .menu-item:after {
        display: block; }

#menu_settings {
  cursor: pointer;
  margin: 66.8vh 0 0 75vw;
  position: absolute;
  color: #fff;
  z-index: 4; }
  #menu_settings > i {
    padding: 10px;
    background: #424242;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    font-size: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4); }
    #menu_settings > i:hover {
      box-shadow: none; }

#menu_logout {
  cursor: pointer;
  margin: 66.8vh 0 0 80vw;
  position: absolute;
  color: #fff;
  z-index: 4; }
  #menu_logout > i {
    padding: 10px;
    background: #424242;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    font-size: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4); }
    #menu_logout > i:hover {
      box-shadow: none; }

#content {
  position: absolute;
  margin-top: 75vh;
  width: 80vw;
  margin-left: 10vw; }

#header_image {
  background: url(../img/headers.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -o-border-bottom-right-radius: 100px; }

#header_owerflow {
  background-color: #000;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 2;
  border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -o-border-bottom-right-radius: 100px; }

#search {
  margin: 3vh 0 0 35vw; }
  #search > i {
    position: absolute;
    font-size: 15px;
    color: #fff;
    padding: 8px;
    margin-left: 24vw; }
  #search > input {
    position: absolute;
    padding: 8px;
    font-size: 15px;
    color: #fff;
    border: none;
    width: 23vw;
    background: transparent;
    outline: none; }
  #search > div {
    width: 28%;
    height: 5vh;
    position: absolute;
    background: #fff;
    opacity: 0.1;
    border-radius: 3px; }

#main_menu {
  display: none; }

#main_menu_links {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 100px; }
  #main_menu_links > a {
    color: #424242;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 20px 0 20px; }
    #main_menu_links > a:hover {
      opacity: 0.8;
      text-decoration: underline; }

#my_page_user_info {
  display: flex; }

#my_info {
  margin-right: 10vw;
  display: flex;
  padding: 14px 50px 14px 10px;
  justify-content: space-between; }
  #my_info > div {
    width: 40%;
    display: flex; }
    #my_info > div > img {
      width: 50px;
      height: 50px;
      display: block;
      border-radius: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      -o-border-radius: 50px;
      margin: 0 20px 0 15px; }
    #my_info > div > div {
      text-align: right; }
      #my_info > div > div > p:nth-child(1) {
        letter-spacing: 1px;
        font-family: "Raleway";
        font-size: 16px;
        color: #fff;
        margin-top: 8px;
        opacity: 0.8; }
      #my_info > div > div > p:nth-child(2) {
        letter-spacing: 1px;
        font-family: "Raleway";
        font-size: 10px;
        color: #fff;
        margin-top: 4px;
        opacity: 0.8; }

#my_page_info {
  display: flex;
  margin: 50px 50px 14px 10px; }
  #my_page_info > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    display: block;
    margin: 0 25px 0 25px; }
  #my_page_info > div > p:nth-child(1) {
    font-size: 16px;
    color: #000;
    opacity: 0.6; }
  #my_page_info > div > p:nth-child(2) {
    text-align: left;
    font-size: 12px;
    color: #000;
    opacity: 0.6;
    margin-top: 4px; }

#my_page_call, #my_page_message {
  cursor: pointer;
  font-size: 16px;
  color: #747474;
  padding: 50px 50px 14px 10px;
  text-align: center; }
  #my_page_call:hover, #my_page_message:hover {
    color: #424242; }

#my_page_user {
  position: absolute;
  z-index: 2;
  margin-top: -37vh;
  margin-left: 8vw;
  display: flex;
  flex-direction: column; }

#my_page_user_top {
  display: flex;
  padding-bottom: 6vh;
  border-bottom: 1px solid #ccc; }
  #my_page_user_top > div:nth-child(1) {
    width: 80px;
    height: 80px; }
    #my_page_user_top > div:nth-child(1) > img {
      width: 100%;
      height: 100%;
      border-radius: 70px;
      border: 2px solid #fff; }
  #my_page_user_top > div:nth-child(2) {
    margin-left: 3vw; }
    #my_page_user_top > div:nth-child(2) > div {
      margin-top: 1vh; }
    #my_page_user_top > div:nth-child(2) > div:nth-child(1) {
      font-family: "Raleway";
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px; }
    #my_page_user_top > div:nth-child(2) > div:nth-child(2) {
      opacity: 0.7;
      color: #fff;
      font-family: "Raleway";
      font-size: 15px;
      letter-spacing: 1px; }
      #my_page_user_top > div:nth-child(2) > div:nth-child(2) > i {
        margin-right: 1vw;
        color: #fff;
        font-size: 15px; }
    #my_page_user_top > div:nth-child(2) > div:nth-child(3) {
      margin-top: 2vh; }
      #my_page_user_top > div:nth-child(2) > div:nth-child(3) > i {
        color: #fff;
        font-size: 18px;
        margin-right: 1vw; }

#my_page_user_bottom {
  display: flex;
  flex-direction: column;
  padding-top: 4vh; }

#my_page_user_bottom_nums > ul {
  color: #fff;
  display: flex; }
  #my_page_user_bottom_nums > ul > li {
    text-align: center;
    width: 9vw;
    font-size: 17px;
    font-family: "Raleway";
    letter-spacing: 2px; }

#my_page_user_bottom_menu > ul {
  color: #fff;
  display: flex; }
  #my_page_user_bottom_menu > ul > li {
    text-align: center;
    width: 9vw;
    font-size: 10px;
    font-family: "Raleway";
    opacity: 0.7;
    letter-spacing: 2px; }

#my_page_transition {
  margin-top: -19vh;
  height: 25vh;
  margin-left: -10vw;
  width: 100vw;
  background: linear-gradient(270deg, #D1D5F8, #ffffff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  -o-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite; }

#my_page {
  box-shadow: -9px -6px 30px rgba(0, 0, 0, 0.1);
  margin-top: -5vh;
  position: absolute;
  margin-left: -10vw;
  width: 98.2vw; }

#my_page_menu {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #F2F5F8;
  min-height: 80vh;
  max-height: 80vh;
  float: left;
  width: 26vw; }
  #my_page_menu > ul > li {
    display: flex;
    border-bottom: 1px solid darkgray;
    padding: 1vw;
    cursor: pointer;
    margin-top: 1vh; }
    #my_page_menu > ul > li:hover {
      background: #f1eded; }
    #my_page_menu > ul > li > div:nth-child(1) > img {
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%; }
    #my_page_menu > ul > li > div:nth-child(2) {
      margin-left: 1vw;
      width: 100%; }
      #my_page_menu > ul > li > div:nth-child(2) > p:nth-child(1) {
        color: #212121;
        font-family: "Raleway";
        font-size: 13px; }
      #my_page_menu > ul > li > div:nth-child(2) > p:nth-child(2) {
        color: #212121;
        margin-top: 1vh;
        font-family: "Raleway";
        font-size: 10px;
        opacity: 0.8; }
    #my_page_menu > ul > li > div:nth-child(3) {
      width: 60%;
      text-align: right; }
      #my_page_menu > ul > li > div:nth-child(3) > i {
        color: #000;
        opacity: 0.6; }
      #my_page_menu > ul > li > div:nth-child(3) > p {
        color: gray;
        font-family: "Raleway";
        letter-spacing: 1px;
        text-align: right;
        margin: 1vh 0 0 1vw;
        font-size: 9px; }

#my_page_wall_count {
  font-family: "Raleway";
  font-size: 12px;
  margin-left: 1vw;
  color: gray; }
  #my_page_wall_count > span {
    color: #000; }

#my_page_menu_search {
  margin: 3vh 0 3vh 0; }
  #my_page_menu_search > i {
    margin: 1.5vh 0 0 1vw;
    position: absolute;
    opacity: 0.5; }
  #my_page_menu_search > input {
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    background: #ECEFF5;
    font-family: "Raleway";
    font-size: 12px;
    width: 75%;
    outline: none; }
  #my_page_menu_search > button {
    font-size: 13px;
    padding: 8px;
    border: none;
    background: #ECEFF5;
    opacity: 0.8;
    font-family: "Raleway";
    cursor: pointer; }

#my_page_content {
  z-index: 2;
  background: #FBF9F9;
  box-shadow: -9px 2px 30px rgba(0, 0, 0, 0.1);
  float: left;
  width: 72.2vw; }

#my_page_content_main_overlay {
  width: 74vw;
  height: 80vh;
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 2; }

#my_page_content_main {
  width: 74vw;
  height: 80vh;
  position: absolute;
  background: transparent; }
  #my_page_content_main > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Do not scale the image */
    object-position: center; }

#my_page_content_main_cont {
  position: absolute;
  z-index: 2; }
  #my_page_content_main_cont > p:nth-child(1) {
    font-size: 30px;
    color: #fff;
    font-family: 'Lobster',cursive;
    margin: 2vw;
    z-index: 2;
    letter-spacing: 3px; }
  #my_page_content_main_cont > p:nth-child(2) {
    margin: 2vw;
    width: 50vw;
    font-family: "Raleway";
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    opacity: 0.8; }

#my_page_content_us_info {
  margin: -4vh 0 0 64vw;
  z-index: 3;
  position: absolute; }
  #my_page_content_us_info > img {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    border: 1px solid #fff; }
  #my_page_content_us_info > p {
    color: #fff;
    font-family: "Raleway";
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center; }

#my_page_content_main_cont_cards {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  width: 16vw;
  height: 50vh; }
  #my_page_content_main_cont_cards > .my_page_wall_cards {
    width: 16vw;
    height: 50vh;
    box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.4);
    margin-right: 2vw; }
    #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(1) {
      width: 5vw;
      height: 5vw;
      position: absolute;
      margin-top: -5vh;
      margin-left: -5vh; }
      #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(1) > img {
        width: 100%;
        height: 100%; }
    #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(2) {
      width: 16vw;
      height: 30vh; }
      #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(2) > img {
        width: 100%;
        height: 100%; }
    #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(3) > p {
      letter-spacing: 3px;
      text-align: center;
      font-family: "Lobster", cursive;
      font-size: 20px;
      color: #fff;
      transform: rotate(-10deg);
      text-shadow: 1px 1px 1px #fff, 1px 1px 1px gold;
      margin-top: 1vh; }
    #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(4) {
      letter-spacing: 3px;
      font-family: "Lobster", cursive;
      font-size: 16px;
      color: #fff;
      transform: rotate(-7deg);
      text-shadow: 1px 1px 1px gold, 1px 1px 1px #fff;
      margin-top: 5vh;
      margin-left: 1vw;
      opacity: 0.9; }
    #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(5) {
      text-align: right; }
      #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(5) > a {
        font-family: "Lobster", cursive;
        letter-spacing: 3px;
        float: right;
        display: block;
        width: 6vw;
        margin-right: 1vw;
        margin-top: 0.5vh;
        padding: 0.4vw;
        background: #322DD8;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        transform: rotate(5deg);
        box-shadow: 1px 1px 1px gold; }
    #my_page_content_main_cont_cards > .my_page_wall_cards > div:nth-child(6) {
      margin-top: -43vh;
      position: absolute;
      background: #fff;
      opacity: 0;
      width: 16vw;
      height: 50vh;
      -webkit-animation: fadeInFromNone 5s infinite ease-in-out;
      -moz-animation: fadeInFromNone 5s infinite ease-in-out;
      -o-animation: fadeInFromNone 5s infinite ease-in-out;
      animation: fadeInFromNone 5s infinite ease-in-out; }

/*----Friends page settings------*/
#friends_cont_menu > ul {
  display: flex;
  margin: 50px auto 50px;
  justify-content: center;
  border-bottom: 1px solid #747474;
  width: 50%; }
  #friends_cont_menu > ul > svg {
    position: absolute;
    margin: 46px 0 0 -70px; }
  #friends_cont_menu > ul > li {
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-family: "Raleway";
    background-position: center;
    transition: background 0.8s; }
    #friends_cont_menu > ul > li:hover {
      background: radial-gradient(circle, transparent 1%, #fff 1%) center/5000%; }
    #friends_cont_menu > ul > li:active {
      background-color: #EEEEEE;
      background-size: 100%;
      transition: background 0s; }
    #friends_cont_menu > ul > li > span {
      color: #747474; }

#search_friends_input_form {
  width: 27vw;
  margin-left: 18vw; }
  #search_friends_input_form > input {
    width: 100%;
    position: absolute;
    padding: 5px;
    font-family: "Raleway";
    color: #424242;
    border: none;
    z-index: 2;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #ccc; }
  #search_friends_input_form i {
    position: absolute;
    color: "Raleway";
    font-size: 14px;
    z-index: 3;
    margin-left: 43vw;
    cursor: pointer; }
  #search_friends_input_form label {
    font-family: "Raleway";
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
    margin: 0vh 0 0 1vw;
    position: absolute; }

#search_friends_input_form_line {
  height: 2px;
  width: 0;
  margin: 3.9vh 0 0 23vw;
  position: absolute;
  background: #40c4ff;
  z-index: 3;
  position: absolute; }

#search_friends_stat {
  margin-top: 10vh;
  position: absolute;
  width: 80vw; }

#friends_stat, #followers_stat, #black_list_stat {
  margin-top: -4vh;
  position: absolute;
  width: 80vw; }

#search_friends_stat,
#friends_stat,
#followers_stat,
#black_list_stat {
  margin-left: 2vw; }
  #search_friends_stat > label:nth-child(1),
  #friends_stat > label:nth-child(1),
  #followers_stat > label:nth-child(1),
  #black_list_stat > label:nth-child(1) {
    font-family: "Lobster", cursive;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px;
    opacity: 0.8; }
  #search_friends_stat > label:nth-child(2),
  #friends_stat > label:nth-child(2),
  #followers_stat > label:nth-child(2),
  #black_list_stat > label:nth-child(2) {
    font-family: "Lobster", cursive;
    font-weight: 600;
    font-size: 12px; }

.friends_search_spinner {
  margin-left: 30vw;
  margin-top: 25vh;
  z-index: 3;
  animation: rotator 1.4s linear infinite; }

#search_friends_result {
  position: absolute;
  margin-top: 18vh;
  margin-bottom: 10vh; }

#search_friends_view {
  display: none;
  position: absolute;
  opacity: 0;
  margin-top: 15vh; }

#friends_view {
  position: absolute;
  margin-bottom: -3vh; }

#followers_view {
  display: none;
  position: absolute;
  opacity: 0;
  margin-top: 15vh; }

#black_list_view {
  display: none;
  position: absolute;
  opacity: 0;
  margin-top: 15vh; }

#search_friends_result > ul,
#friends_view > ul,
#followers_view > ul,
#black_list_view > ul {
  display: flex;
  margin-top: 1vh; }
  #search_friends_result > ul > li,
  #friends_view > ul > li,
  #followers_view > ul > li,
  #black_list_view > ul > li {
    width: 12vw;
    margin: 2vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px; }
    #search_friends_result > ul > li > div:nth-child(1),
    #friends_view > ul > li > div:nth-child(1),
    #followers_view > ul > li > div:nth-child(1),
    #black_list_view > ul > li > div:nth-child(1) {
      border-bottom: 2px solid #ccc;
      margin-top: -5vh; }
      #search_friends_result > ul > li > div:nth-child(1) > i:nth-child(1),
      #friends_view > ul > li > div:nth-child(1) > i:nth-child(1),
      #followers_view > ul > li > div:nth-child(1) > i:nth-child(1),
      #black_list_view > ul > li > div:nth-child(1) > i:nth-child(1) {
        cursor: pointer;
        position: absolute;
        color: #5255F4;
        font-size: 15px;
        margin-top: 7vh;
        margin-left: 1vw; }
      #search_friends_result > ul > li > div:nth-child(1) > a:nth-child(2),
      #friends_view > ul > li > div:nth-child(1) > a:nth-child(2),
      #followers_view > ul > li > div:nth-child(1) > a:nth-child(2),
      #black_list_view > ul > li > div:nth-child(1) > a:nth-child(2) {
        cursor: pointer;
        text-align: center;
        margin-left: 4vw; }
        #search_friends_result > ul > li > div:nth-child(1) > a:nth-child(2) > img,
        #friends_view > ul > li > div:nth-child(1) > a:nth-child(2) > img,
        #followers_view > ul > li > div:nth-child(1) > a:nth-child(2) > img,
        #black_list_view > ul > li > div:nth-child(1) > a:nth-child(2) > img {
          width: 5vw;
          height: 5vw;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -o-border-radius: 50%; }
      #search_friends_result > ul > li > div:nth-child(1) > i:nth-child(3),
      #friends_view > ul > li > div:nth-child(1) > i:nth-child(3),
      #followers_view > ul > li > div:nth-child(1) > i:nth-child(3),
      #black_list_view > ul > li > div:nth-child(1) > i:nth-child(3) {
        cursor: pointer;
        position: absolute;
        color: #F63434;
        font-size: 15px;
        margin-top: 7vh;
        margin-left: 1vw; }
      #search_friends_result > ul > li > div:nth-child(1) > a:nth-child(4),
      #friends_view > ul > li > div:nth-child(1) > a:nth-child(4),
      #followers_view > ul > li > div:nth-child(1) > a:nth-child(4),
      #black_list_view > ul > li > div:nth-child(1) > a:nth-child(4) {
        cursor: pointer;
        text-decoration: none;
        font-family: "Lobster", cursive;
        color: #424242;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 1vh;
        font-size: 15px;
        letter-spacing: 2px;
        transform: rotate(-5deg); }
        #search_friends_result > ul > li > div:nth-child(1) > a:nth-child(4):hover,
        #friends_view > ul > li > div:nth-child(1) > a:nth-child(4):hover,
        #followers_view > ul > li > div:nth-child(1) > a:nth-child(4):hover,
        #black_list_view > ul > li > div:nth-child(1) > a:nth-child(4):hover {
          text-decoration: underline; }
      #search_friends_result > ul > li > div:nth-child(1) > div,
      #friends_view > ul > li > div:nth-child(1) > div,
      #followers_view > ul > li > div:nth-child(1) > div,
      #black_list_view > ul > li > div:nth-child(1) > div {
        margin-top: 2vh;
        margin-left: 1vw;
        margin-bottom: 1vh; }
        #search_friends_result > ul > li > div:nth-child(1) > div > div,
        #friends_view > ul > li > div:nth-child(1) > div > div,
        #followers_view > ul > li > div:nth-child(1) > div > div,
        #black_list_view > ul > li > div:nth-child(1) > div > div {
          margin-top: 1vh; }
          #search_friends_result > ul > li > div:nth-child(1) > div > div > i,
          #friends_view > ul > li > div:nth-child(1) > div > div > i,
          #followers_view > ul > li > div:nth-child(1) > div > div > i,
          #black_list_view > ul > li > div:nth-child(1) > div > div > i {
            color: #424242;
            font-size: 15px; }
          #search_friends_result > ul > li > div:nth-child(1) > div > div > label,
          #friends_view > ul > li > div:nth-child(1) > div > div > label,
          #followers_view > ul > li > div:nth-child(1) > div > div > label,
          #black_list_view > ul > li > div:nth-child(1) > div > div > label {
            color: #424242;
            font-family: "Raleway";
            font-size: 15px;
            margin-left: 1vw; }
    #search_friends_result > ul > li > div:nth-child(2),
    #friends_view > ul > li > div:nth-child(2),
    #followers_view > ul > li > div:nth-child(2),
    #black_list_view > ul > li > div:nth-child(2) {
      display: flex;
      justify-content: space-around; }
      #search_friends_result > ul > li > div:nth-child(2) i,
      #friends_view > ul > li > div:nth-child(2) i,
      #followers_view > ul > li > div:nth-child(2) i,
      #black_list_view > ul > li > div:nth-child(2) i {
        cursor: pointer;
        font-size: 20px;
        color: gray;
        margin: 2vh; }
        #search_friends_result > ul > li > div:nth-child(2) i:hover,
        #friends_view > ul > li > div:nth-child(2) i:hover,
        #followers_view > ul > li > div:nth-child(2) i:hover,
        #black_list_view > ul > li > div:nth-child(2) i:hover {
          font-size: 20px;
          color: #40c4ff;
          margin-top: 2vh; }

/*----Dialogs page style-----*/
#dialogs_conteiner {
  margin-left: -10vw;
  width: 100vw;
  margin-top: -5vh;
  min-height: 85vh; }

#dialogs_view {
  width: 20vw;
  height: 75vh;
  float: left;
  background: #F2F5F8;
  padding-bottom: 10vh; }

#dialogs_view_search {
  margin-bottom: 1vh;
  margin-top: 4vh; }
  #dialogs_view_search > i {
    position: absolute;
    margin-left: 4vw;
    margin-top: 1.5vh;
    opacity: 0.5;
    font-size: 10px; }
  #dialogs_view_search > input {
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    background: #ECEFF5;
    font-family: "Raleway";
    font-size: 10px;
    width: 75%;
    outline: none; }
  #dialogs_view_search > button {
    font-size: 11px;
    padding: 8px;
    border: none;
    background: #ECEFF5;
    opacity: 0.8;
    font-family: "Raleway";
    cursor: pointer; }

#dialogs_view > ul {
  cursor: pointer;
  display: flex;
  padding-top: 2vh;
  padding-left: 1vw; }
  #dialogs_view > ul:hover {
    background: #ECEFF5; }
  #dialogs_view > ul > li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid darkgray; }
    #dialogs_view > ul > li > a > img {
      width: 30px;
      height: 30px;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      -o-border-radius: 100px; }
  #dialogs_view > ul > li:nth-child(1) > a {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px; }
  #dialogs_view > ul > li:nth-child(2) {
    width: 13vw; }
    #dialogs_view > ul > li:nth-child(2) > a:nth-child(1) {
      font-family: "Lobster", cursive;
      color: #424242;
      font-size: 12px;
      text-decoration: none; }
    #dialogs_view > ul > li:nth-child(2) > a:nth-child(2) {
      font-family: "Raleway";
      color: #424242;
      opacity: 0.8;
      font-size: 10px;
      text-decoration: none; }
  #dialogs_view > ul > li:nth-child(3) {
    text-align: right; }
    #dialogs_view > ul > li:nth-child(3) > i {
      font-size: 12px;
      color: #424242; }
    #dialogs_view > ul > li:nth-child(3) > div {
      margin-top: 2vh;
      font-size: 8px;
      color: #ccc;
      font-family: "Raleway"; }

#dialog_list_name > a:nth-child(1) > a:nth-child(1) {
  font-family: "Raleway";
  font-size: 14px;
  color: #000;
  opacity: 0.7;
  letter-spacing: 1px; }

#dialog_list_name > a:nth-child(1) > a:nth-child(2) {
  font-family: "Raleway";
  font-size: 12px;
  color: #424242;
  opacity: 0.8;
  margin-top: 1vh;
  letter-spacing: 1px; }

#messages_view {
  width: 80vw;
  background: #FBF9F9;
  z-index: 2;
  box-shadow: -9px 2px 30px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden; }
  #messages_view > div:nth-child(1) {
    position: fixed;
    display: flex;
    padding: 1vw;
    opacity: 0;
    width: 100%;
    height: 0vh;
    z-index: 3;
    background: #FBF9F9; }
    #messages_view > div:nth-child(1) > div:nth-child(1) {
      width: 50%; }
      #messages_view > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
        letter-spacing: 1px;
        font-family: "Lobster", cursive;
        font-size: 15px;
        opacity: 0.7;
        letter-spacing: 1px; }
      #messages_view > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
        font-family: "Raleway";
        font-size: 12px;
        margin-top: 1vh;
        opacity: 0.6;
        letter-spacing: 1px; }
    #messages_view > div:nth-child(1) > div:nth-child(2) {
      height: 67vh;
      margin: 2vw;
      opacity: 0; }
      #messages_view > div:nth-child(1) > div:nth-child(2) > i {
        font-size: 15px;
        color: #000;
        opacity: 0.6;
        margin-right: 3vw; }
      #messages_view > div:nth-child(1) > div:nth-child(2) > div {
        position: absolute;
        bottom: 0;
        margin-left: -2vw;
        width: 80%; }
  #messages_view > div:nth-child(2) {
    height: 67vh;
    margin: 2vw;
    margin-top: 10vh;
    opacity: 0; }
    #messages_view > div:nth-child(2) > div {
      position: absolute;
      bottom: 0;
      margin-left: -2vw; }
    #messages_view > div:nth-child(2) > ul {
      margin-bottom: 19vh; }

#input_message {
  z-index: 4;
  width: 100%;
  position: fixed;
  margin-top: -2vh; }
  #input_message > div {
    position: absolute;
    margin-top: -5vh;
    margin-left: 67vw; }
    #input_message > div > i {
      color: gray;
      font-size: 15px;
      margin-left: 1vw;
      cursor: pointer; }
  #input_message > input {
    font-family: "Raleway";
    font-size: 15px;
    color: #424242;
    letter-spacing: 1px;
    width: 100%;
    height: 7vh;
    border: none;
    background: #ECEFF5;
    outline: none;
    padding: 0px 10px 0px 10px; }

#messages_view > div:nth-child(2) > ul > div:nth-child(2) > ul {
  margin-bottom: 19vh; }

.my_message {
  margin-top: 5vh;
  display: flex; }

#messages_profile_m {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 17vw;
  height: 0vh;
  position: absolute;
  background: #fff;
  box-shadow: -9px 2px 30px rgba(0, 0, 0, 0.2);
  margin-left: 63vw;
  z-index: 4;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px; }
  #messages_profile_m > div {
    opacity: 0; }
    #messages_profile_m > div > img {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      margin-left: 4vw; }
    #messages_profile_m > div > p:nth-child(1) {
      cursor: pointer;
      text-align: center;
      font-size: 14px;
      color: gray; }
    #messages_profile_m > div > p:nth-child(3) {
      font-family: "Raleway";
      text-align: center;
      letter-spacing: 1px;
      margin-bottom: 1vh; }
    #messages_profile_m > div > p:nth-child(4) {
      font-size: 10px;
      font-family: "Raleway";
      text-align: center; }
    #messages_profile_m > div > p:nth-child(5) {
      font-family: "Raleway";
      letter-spacing: 1px;
      margin-bottom: 1vh;
      font-size: 14px;
      margin-top: 3vh;
      text-align: left;
      margin-left: 1vw; }

.profile_m_ul_tag > li {
  cursor: pointer;
  height: 7vw; }
  .profile_m_ul_tag > li > p {
    margin: 0.5vw;
    font-family: "Lobster", cursive;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 3; }
  .profile_m_ul_tag > li > .profile_m_ul_overlay {
    position: absolute;
    opacity: 0.5;
    height: 7vw;
    width: 16vw;
    z-index: 2;
    background: #000; }

.friend_message {
  margin-top: 5vh;
  display: flex; }
  .friend_message > div:nth-child(1) {
    width: 100%; }
  .friend_message > div:nth-child(2) {
    display: flex;
    font-size: 13px;
    font-family: "Raleway";
    color: #fff;
    letter-spacing: 1px;
    background: #79C8F8;
    align-items: center;
    margin-right: 1vw;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    min-width: 20%; }
  .friend_message > div:nth-child(3) {
    width: 6%;
    text-align: right; }
    .friend_message > div:nth-child(3) > img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%; }

.my_message > div:nth-child(1) > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%; }

.my_message > div:nth-child(2) {
  display: flex;
  font-size: 13px;
  font-family: "Raleway";
  color: #000;
  opacity: 0.6;
  letter-spacing: 1px;
  background: #ECEFF5;
  align-items: center;
  margin-left: 1vw;
  padding: 0px 10px 0px 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  min-width: 20%; }

.my_message > div:nth-child(3) {
  width: 100%; }

/*----Shops list style-----*/
#shops_list {
  display: flex;
  flex-direction: column; }
  #shops_list > ul {
    display: flex;
    flex-direction: center;
    width: 60%;
    margin: auto;
    margin-bottom: 2vh;
    padding: 1vw;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px; }
    #shops_list > ul > li:nth-child(1) {
      margin-top: 2.5vh;
      width: 7vw;
      height: 7vw; }
      #shops_list > ul > li:nth-child(1) > img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        width: 100%;
        height: 100%; }
    #shops_list > ul > li:nth-child(2) {
      margin-left: 1vw;
      flex: 2;
      padding-bottom: 5px;
      margin-right: 0; }
      #shops_list > ul > li:nth-child(2) > a {
        width: 60%;
        font-family: "Lobster", cursive;
        font-size: 15px;
        letter-spacing: 2px;
        text-decoration: none;
        cursor: pointer;
        color: #424242;
        display: block; }
        #shops_list > ul > li:nth-child(2) > a:hover {
          text-decoration: underline; }
      #shops_list > ul > li:nth-child(2) > p {
        letter-spacing: 1px;
        margin-top: 1vh;
        font-family: "Raleway";
        color: #424242;
        font-size: 12px;
        margin-bottom: 2vh; }
      #shops_list > ul > li:nth-child(2) > div {
        margin-top: 1vh; }
        #shops_list > ul > li:nth-child(2) > div > i {
          font-size: 15px;
          color: #424242;
          opacity: 0.8; }
        #shops_list > ul > li:nth-child(2) > div > label {
          font-size: 15px;
          color: #424242;
          font-family: "Raleway"; }
    #shops_list > ul > li:nth-child(3) {
      text-align: right;
      display: flex;
      flex-direction: column; }
      #shops_list > ul > li:nth-child(3) > i {
        font-size: 18px;
        color: #747474;
        letter-spacing: 1px;
        cursor: pointer; }

#active {
  opacity: 1;
  -webkit-transform-origin: right top 0px;
  -webkit-transform: scale(1); }

.shops_list_dropdown {
  margin-top: 2%;
  position: absolute;
  z-index: 3;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0px;
  -webkit-transform: scale(0); }
  .shops_list_dropdown ul {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    position: relative; }
  .shops_list_dropdown .active {
    opacity: 1;
    -webkit-transform-origin: right top 0px;
    -webkit-transform: scale(1); }
    .shops_list_dropdown .active li {
      opacity: 1;
      transform: translateY(0px); }
  .shops_list_dropdown li {
    color: #666;
    margin: 0;
    padding: 5px 0 5px 15px;
    height: 24px;
    list-style: none;
    opacity: 1;
    transform: translateY(0px);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transform: translateY(-30%); }
    .shops_list_dropdown li:hover {
      background: rgba(0, 0, 0, 0.175); }

/*----Shop page------------*/
#shop_header {
  width: 80%;
  margin-top: 20px;
  margin-left: 1%;
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  #shop_header > div {
    flex: 2;
    display: flex; }
    #shop_header > div > h1 {
      font-weight: 100;
      font-family: "Lobster", cursive;
      letter-spacing: 2px;
      margin-top: 3vh;
      font-size: 15px;
      margin-left: 1vw;
      color: #424242;
      opacity: 0.9; }
    #shop_header > div > img {
      display: block;
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%; }
  #shop_header > i {
    color: #F63535;
    font-size: 15px; }
  #shop_header > label {
    cursor: pointer;
    margin-left: 1vw;
    letter-spacing: 2px;
    font-family: "Raleway";
    color: #424242;
    font-size: 15px; }
    #shop_header > label:hover {
      text-decoration: underline; }

.group {
  position: relative;
  width: 100%; }
  .group input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575; }
    .group input:focus {
      outline: none; }
  .group label {
    top: 15px;
    color: #424242;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .group input:focus ~ label, .group input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #424242; }
  .group .bar {
    position: relative;
    display: block;
    width: 103%; }
    .group .bar:before, .group .bar:after {
      content: '';
      width: 0;
      height: 2px;
      bottom: 1px;
      position: absolute;
      background: #424242;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .group .bar:before {
      left: 50%; }
    .group .bar:after {
      right: 50%; }
  .group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%; }
  .group .highlight {
    position: absolute;
    width: 100px;
    height: 60%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

#shops_cont > div:nth-child(1) {
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  padding: 30px 20px 0 20px; }
  #shops_cont > div:nth-child(1) > div:nth-child(2) {
    width: 15vw;
    margin-left: 3vw;
    cursor: pointer;
    margin-top: 1vh; }
    #shops_cont > div:nth-child(1) > div:nth-child(2) > i {
      font-size: 2.4vw;
      color: #3EF455; }
    #shops_cont > div:nth-child(1) > div:nth-child(2) > label {
      cursor: pointer;
      color: #424242;
      opacity: 0.8; }
      #shops_cont > div:nth-child(1) > div:nth-child(2) > label:hover {
        text-decoration: underline; }

#shops_cont > p {
  width: 80%;
  color: #747474;
  font-family: "Raleway";
  font-size: 14px;
  margin: auto;
  margin-bottom: 5px; }
  #shops_cont > p > button {
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    margin-left: 15px;
    border: none;
    font-family: "Raleway";
    color: #747474; }
    #shops_cont > p > button:hover {
      text-decoration: underline; }

#shop_cont > div:nth-child(2) {
  display: flex;
  font-family: "Raleway";
  color: #424242;
  font-size: 12px;
  margin-bottom: 2vh;
  margin-left: 1vw; }
  #shop_cont > div:nth-child(2) > div {
    width: 10vw;
    cursor: pointer;
    margin-left: 51.3vw; }
    #shop_cont > div:nth-child(2) > div > i {
      cursor: pointer;
      font-size: 15px;
      color: #F9C63E; }
    #shop_cont > div:nth-child(2) > div > button {
      cursor: pointer;
      outline: none;
      margin-left: 1vw;
      border: none;
      background: transparent;
      font-size: 15px;
      color: #424242;
      font-family: "Raleway";
      letter-spacing: 1px; }
      #shop_cont > div:nth-child(2) > div > button:hover {
        text-decoration: underline; }

#shop_content {
  width: 80%;
  margin: auto;
  display: flex; }

#shop_content_left {
  flex: 2;
  display: flex;
  flex-wrap: wrap; }
  #shop_content_left > ul {
    width: 13vw;
    height: 40vh;
    margin: 2%;
    margin-left: 0;
    margin-top: 0;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; }
    #shop_content_left > ul > li {
      padding: 0.3vw; }
    #shop_content_left > ul > li:nth-child(1) {
      padding: 0;
      text-align: center;
      width: 100%;
      height: 20vh; }
      #shop_content_left > ul > li:nth-child(1) > img {
        width: 100%;
        height: 100%; }
    #shop_content_left > ul > li:nth-child(2) {
      text-align: center; }
      #shop_content_left > ul > li:nth-child(2) > p {
        font-family: "Lobster", cursive;
        font-size: 15px;
        letter-spacing: 2px;
        transform: rotate(-5deg);
        color: #424242; }
    #shop_content_left > ul > li:nth-child(3) > p {
      font-family: "Raleway";
      font-size: 12px;
      color: #424242;
      letter-spacing: 1px;
      height: 7vh; }
    #shop_content_left > ul > div {
      margin-right: 1vw;
      justify-content: space-around;
      display: flex; }
      #shop_content_left > ul > div > li:nth-child(1) {
        margin-left: -1vw; }
        #shop_content_left > ul > div > li:nth-child(1) > p {
          font-size: 15px;
          color: #424242;
          font-family: "Lobster", cursive;
          font-size: "Raleway";
          transform: rotate(-2deg);
          text-shadow: 1px 1px 1px #fff, 1px 1px 1px #000; }
      #shop_content_left > ul > div > li:nth-child(2) {
        cursor: pointer; }
        #shop_content_left > ul > div > li:nth-child(2) > i {
          cursor: pointer;
          margin-right: 0.5vw;
          font-size: 15px;
          color: #18E833; }
          #shop_content_left > ul > div > li:nth-child(2) > i:hover {
            border-bottom: 1px solid darkgray; }
        #shop_content_left > ul > div > li:nth-child(2) > label {
          cursor: pointer;
          font-family: "Raleway";
          letter-spacing: 2px;
          color: #18E833;
          position: absolute; }
          #shop_content_left > ul > div > li:nth-child(2) > label:hover {
            border-bottom: 1px solid darkgray; }
    #shop_content_left > ul > i {
      cursor: pointer;
      position: absolute;
      color: #fff;
      font-size: 15px;
      text-shadow: 1px 1px 1px #fff, 1px 1px 1px #000;
      margin-left: 10.5vw;
      margin-top: 1vh;
      opacity: 0.8; }
      #shop_content_left > ul > i:hover {
        opacity: 1; }

#shop_content_right {
  flex: 0.5;
  display: flex;
  flex-direction: column; }
  #shop_content_right > div {
    margin-bottom: 5vh;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2); }
  #shop_content_right h5 {
    margin: 1vw;
    color: #424242;
    font-family: "Raleway"; }
  #shop_content_right > div > div > div {
    display: flex;
    border-bottom: 1px solid darkgray;
    margin-bottom: 0.5vh; }
    #shop_content_right > div > div > div > div:nth-child(1) > a > img {
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%; }
    #shop_content_right > div > div > div > div:nth-child(2) {
      margin-left: 0.5vw; }
      #shop_content_right > div > div > div > div:nth-child(2) > a:nth-child(1) {
        text-decoration: none;
        font-size: 12px;
        color: #424242;
        opacity: 0.8;
        font-family: "Lobster", cursive; }
        #shop_content_right > div > div > div > div:nth-child(2) > a:nth-child(1):hover {
          text-decoration: underline; }
      #shop_content_right > div > div > div > div:nth-child(2) > div:nth-child(2) {
        font-size: 10px;
        color: #424242;
        opacity: 0.6;
        font-family: "Raleway"; }

#cats > ul:nth-child(2) > li {
  cursor: pointer;
  display: flex;
  margin-bottom: 1vh; }
  #cats > ul:nth-child(2) > li:hover {
    opacity: 0.5; }
  #cats > ul:nth-child(2) > li > div:nth-child(1) {
    display: flex; }
    #cats > ul:nth-child(2) > li > div:nth-child(1) > i {
      flex: 1;
      color: "Raleway";
      font-size: 12px;
      margin-right: 1vw;
      margin-left: 1vw;
      margin-top: 1vh;
      opacity: 0.7; }
  #cats > ul:nth-child(2) > li > div:nth-child(2) {
    flex: 2; }
    #cats > ul:nth-child(2) > li > div:nth-child(2) > p {
      font-size: 12px;
      color: #424242;
      font-family: "Raleway"; }
    #cats > ul:nth-child(2) > li > div:nth-child(2) > p:nth-child(2) {
      font-size: 8px;
      color: #424242;
      font-family: "Raleway"; }
  #cats > ul:nth-child(2) > li > div:nth-child(3) {
    flex: 1;
    float: right;
    color: #424242;
    font-size: 15px;
    opacity: 0.7; }

#cats > ul:nth-child(2) > div {
  display: none; }
  #cats > ul:nth-child(2) > div > ul > li {
    cursor: pointer;
    display: flex;
    margin-bottom: 7px; }
    #cats > ul:nth-child(2) > div > ul > li:hover {
      opacity: 0.5; }
    #cats > ul:nth-child(2) > div > ul > li > div:nth-child(1) > i {
      color: #424242;
      font-size: 14px;
      margin-right: 10px;
      margin-left: 40px;
      margin-top: 4px;
      opacity: 0.7; }
    #cats > ul:nth-child(2) > div > ul > li > div:nth-child(2) > p {
      font-size: 10px;
      color: #424242;
      font-family: "Raleway"; }
    #cats > ul:nth-child(2) > div > ul > li > div:nth-child(2) > p:nth-child(2) {
      font-size: 8px;
      color: #424242;
      font-family: "Raleway"; }

#cats_add_form {
  display: flex; }
  #cats_add_form > div > i {
    color: #424242;
    font-size: 12px;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vh;
    cursor: pointer; }
  #cats_add_form > div > input {
    border: none;
    border-bottom: 1px solid #424242;
    padding: 0.2vw;
    font-size: 12px;
    font-family: "Raleway";
    width: 100%; }
  #cats_add_formdiv:nth-child(3) > i {
    color: #424242;
    font-size: 12vw;
    margin-right: 1vw;
    margin-left: 1vw;
    opacity: 0.6;
    cursor: pointer; }

#podcats_add_form {
  display: flex; }
  #podcats_add_form > div > i {
    color: #424242;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer; }
  #podcats_add_form > div > input {
    border: none;
    border-bottom: 1px solid #424242;
    padding: 3px;
    font-size: 10px;
    font-family: "Raleway";
    width: 100%; }
  #podcats_add_form > div:nth-child(3) > i {
    color: #424242;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 15px;
    opacity: 0.6;
    cursor: pointer; }

/*----Modals  settings-----*/
.modal_window {
  display: none; }

#new_message_modal {
  display: none; }

#photo_modal {
  display: none; }

/*--------------------------------------Aded animations (ripple, textfiles ext.)------------------------*/
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

#modal_create_shop_overflow .path,
#modal_add_prod_overflow .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite,  colors 5.2s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
