*{
	margin: 0;
	padding: 0;
}

body
{
   background: #fff;
}

#header_img{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1;
}

#auth_cont{
	display: flex;
    flex-direction: column;
	top: 10vh;
    left: 22vw;
    position: absolute;
    z-index: 2;
    width: 57vw;
    height: 47vh;
}

#head{
	color: #424242;
    margin: 2vw;
    font-family: tahoma;
    font-size: 16px;
    letter-spacing: 2px;
}

#auth_cont > div{
	margin-left: 14vw;
}

#auth_cont > div:nth-child(3){
	margin-top: 12vh;
}

#auth_cont > div > input{
	position: absolute;
    z-index: 4;
    border: none;
    border-bottom: 2px solid #40c4ff;
    border-radius: 2px;
    padding: 0.3vw;
    font-family: tahoma;
    font-size: 13px;
    outline: none;
    color: #42420C;
    background: transparent;
    width: 29vw;
}

.border_add1{
	z-index: 5;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    width: 0vw;
    margin-top: 3.8vh;
    margin-left: 14.75vw;
}

.border_add2{
	z-index: 5;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    width: 0vw;
    margin-top: 3.7vh;
    margin-left: 14.75vw;
}

#auth_cont > div > label{
	z-index: 2;
	position: absolute;
    font-family: tahoma;
    font-size: 14px;
    color: gray;
}

#go_but{
	margin-left: 21vw;
    margin-top: 10vh;
    width: 9vw;
    border: none;
    padding: 0.4vw;
    font-family: tahoma;
    font-size: 15px;
    letter-spacing: 1px;
    background: #424242;
    border-radius: 4px;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#go_but:hover{
	cursor: pointer;
	box-shadow: none;
}

#to_reg_but{
	cursor: pointer;
	border: none;
    margin-top: -3.4vh;
    width: 9vw;
    font-family: tahoma;
    letter-spacing: 1px;
    background: none;
    color: #424242;
    margin-left: 32vw;
}

#to_reg_but:hover{
	text-decoration: underline;
}

#reg_cont{
	margin-top: 10vh;
	opacity: 0;
	top: 10vh;
    left: 22vw;
    position: absolute;
    z-index: 0;
    width: 57vw;
    height: 47vh;
}

#reg_cont > div{
	margin-left: 14vw;
}

#reg_cont > div:nth-child(2){
	margin-top: 2vh;
}

#reg_cont > div:nth-child(3){
	margin-top: 10vh;
}

#reg_cont > div:nth-child(4){
	margin-top: 18vh;
}

#reg_cont > div:nth-child(5){
	margin-top: 26vh;
}

#reg_cont > div > input{
	position: absolute;
    z-index: 4;
    border: none;
    border-bottom: 2px solid #40c4ff;
    border-radius: 2px;
    padding: 0.3vw;
    font-family: tahoma;
    font-size: 13px;
    outline: none;
    color: #42420C;
    background: transparent;
    width: 29vw;
}

#reg_cont > div > label{
	z-index: 2;
	position: absolute;
    font-family: tahoma;
    font-size: 14px;
    color: gray;
}

.border_reg_add1{
	z-index: 5;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    width: 0vw;
    margin-top: 3.7vh;
    margin-left: 14.75vw;
}

.border_reg_add2{
	z-index: 5;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    width: 0vw;
    margin-top: 3.8vh;
    margin-left: 14.75vw;
}

.border_reg_add3{
	z-index: 5;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    width: 0vw;
    margin-top: 3.7vh;
    margin-left: 14.75vw;
}

.border_reg_add4{
	z-index: 5;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    position: absolute;
    width: 0vw;
    margin-top: 3.8vh;
    margin-left: 14.75vw;
}

#reg_but{
	margin-left: 14vw;
    margin-top: 10vh;
    width: 13vw;
    border: none;
    padding: 0.4vw;
    font-family: tahoma;
    font-size: 15px;
    letter-spacing: 1px;
    background: #424242;
    border-radius: 4px;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#reg_but:hover{
	cursor: pointer;
	box-shadow: none;
}

#to_auth_but{
	position: absolute;
    cursor: pointer;
    border: none;
    margin-top: 10.7vh;
    width: 9vw;
    font-family: tahoma;
    letter-spacing: 1px;
    background: none;
    color: #424242;
    margin-left: 8vw;
}

#to_auth_but:hover{
	text-decoration: underline;
}